body{
    margin: 0;
    font-family: Arial sans-serif;
    font-size: 14px;
    background-color: whitesmoke;
    position: relative;
}

a{
    text-decoration: none;
    color: white;
    border-width: 0;
}

button{
    border: darkgray solid 1px;
    border-radius: 6px;
}

nav{
    height: 50px;
    background-color: white;
    border-bottom: gray solid 1px;
}

#logo{
    position: relative;
    right: 730px;
    top: 5px;
}

.nav-img{
    position: relative;
    right: 10px;
    top: 6px;
}

#nav-left{
    float: right;
    padding-right: 230px;
}

#nav-right{
    text-align: right;
    float: right;
    padding-right: 10px;
}

#nav-right a.nav-a{
    position: relative;
    top: 12px;
}

.nav-a{
    color: gray;
    padding-right: 25px;
    padding-left: 10px;
}

.up{
    position: relative;
    bottom: 15px;
    padding-left: 60px;
}

.nav-a:hover{
	text-decoration: none;
    color: #7dc5eb;
}

#now{
    font-weight: bold;
}

#now:hover{
    color: gray;
}

#list{
    list-style-type: none;
    position: absolute;
    left: 1150px;
}

#list span{
    position: relative;
    bottom: 2px;
}

#list ul{
    background-color:white;
    border: darkgray solid 1px;
    border-top-style: none;
    display: none;
    text-align: left;
    position: relative;
    top: 15px;
    z-index: 300;
}

#list ul li{
    height: 30px;
    padding-top: 10px;
    padding-right: 10px;
}

#list ul li a{
    color: rgb(112,128,144);
    position: relative;
    bottom: 3px;
    left: 5px;
}

#list ul li a:hover{
    color: #7dc5eb;
}

#first-child{
    list-style-image: url("images/sup/upload.png");
}

#second-child{
    list-style-image: url("images/sup/photo.png");
}

#third-child{
    list-style-image: url("images/sup/favorite.png");
}

#fourth-child{
    list-style-image: url("images/sup/log-in.png");
}

#fifth-child{
    list-style-image: url("images/sup/people2.png");
}

#list:hover ul{
    display: block;
}

#list:hover span{
    color: #7dc5eb;
}

.content{
    position: relative;
}

#head{
    position: absolute;
    left: 8px;
    z-index: -1000;
}

.img{
    border-radius: 15px;
    max-height: 150px; min-height: 150px;
    max-width: 150px; min-width: 150px;
}

.content table{
	border-collapse: separate;
    border-spacing: 45px 30px;
}

.content td{
	width: 250px;
	height: 300px;
    padding: 30px auto 10px auto;
    background-color: #e6e6e6;
    border-radius: 15px;
}

.con-down{
    position: absolute;
    top: 0px;
    text-align: center;
    margin-left: 13%;
    margin-right: 10%;
    border: darkgray solid 1px;
    border-top: none;
    padding:50px 120px 50px 120px;
    background-color: white;
}

#home_footer{
    position: relative;
    top: 450px;
    background-color: black;
    color: white;
    overflow: hidden;
    padding-left: 150px;
    padding-bottom: 40px;
}

.root-fot{
    font-size: 12px;
    padding: 0 0 20px 130px;
    position: relative;
    left: 320px;
}

#fot-tab-one{
	border-collapse: separate;
    border-spacing: 200px 12px;
    padding-top: 10px;
}

#fot-tab-two{
	border-collapse: separate;
    border-spacing: 30px;
    position: absolute;
    right: 350px;
    bottom: 45px;
}

footer span{
    position: relative;
    left: 350px;
    top: 15px;
    font-size: 10px;
    letter-spacing: 0.02em;
}

.toTop{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.refresh{
    position: fixed;
    bottom: 70px;
    right: 20px;
}

.con{
    margin: 20px 100px;
    background-color: white;
    border: darkgray solid 1px;
    border-radius: 6px;
}

.head{
    padding-left: 20px;
    background-color: #d5dde2;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #515151;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.float-right{
    float: right;
    list-style-type: none;
    padding-right: 20px;
}

.float-right li{
    padding-bottom: 10px;
}

.float-right li table{
    width: 450px;
    border: darkgray solid 1px;
    border-radius: 6px;
}

.float-right li table td{
    padding-bottom: 10px;
    padding-top: 10px;
    border-top: darkgray solid 1px;
}

.float-right li table td.head{
    border-top: none;
}

.like{
    color:  indianred;
    font-weight: bold;
    text-align: center;
}

.red{
    background-color: red;
    color: white;
}

.black{
    background-color: #515151;
    color: white;
}

.float-right li table.red td{
    border-top: none;
    padding-left: 190px;
}

.red img, .black img{
    position: relative;
    top: 2px;
}

.red span, .black span{
    position: relative;
    bottom: 7px;
    left: 20px;
}

.details{
    padding: 20px 50px;
    position: relative;
    border-bottom: darkgray solid 1px;
}
.details h3{
    padding: 20px 0 20px 0;
}

.details h2{
    padding: 20px 0 50px 535px;
}

.details p{
    padding-top: 5px;
    padding-bottom: 15px;
    line-height: 2em;
    color: rgb(112,128,144);
}

button.red{
    background-color: #d81e06;
}

button.black, button.red{
    width: 150px;
    border-radius: 6px;
    padding-right: 40px;
    margin-right: 20px;
}

.abs-right p{
    width: 900px;
}

.abs-right h3{
    margin-bottom: -20px;
}

.page{
    color: #7dc5eb;
    position: relative;
    left: 450px;
}

.last{
    padding-bottom: 50px;
}

.form{
    margin: 100px auto 0 auto;
    width: 332px;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}

.form-con{
    background-color: white;
    padding: 2px 10px 0 17px;
    border-radius: 10px;
    text-align: left;
}

.form-con input{
    width: 300px;
    height: 20px;
}

.submit{
    font-weight: bold;
    font-size: 13px;
    margin: 15px 0 30px 0;
    height: 35px;
    width: 300px;
    background-color: #515151;
    color: white;
    outline: none;
}

.form-fot{
    position: fixed;
    bottom: 0px;
}

.blue-a{
    color: #7dc5eb;
}

.search-form{
    padding: 20px 10px 0px 50px;
    font-size: 14px;
    font-weight: bold;
}

.title-input{
    width: 92%;
    height: 25px;
    position: relative;
    top: 10px;
    margin-bottom: 10px;
    outline: none;
    border: darkgray solid 1px;
    border-radius: 4px;
}

.des-input{
    width: 92%;
    height: 150px;
    position: relative;
    top: 10px;
    vertical-align: top;
    font-family: Arial sans-serif;
    font-size: 13px;
    outline: none;
    border-radius: 4px;
}

.search{
    margin-bottom: 60px;
}

.aside{
    float: left;
    padding-left: 30px;
}

.aside-con{
    margin: 20px 10px 0 30px;
    font-size: 14px;
}

.hot{
    list-style-type: none;
    padding-left: -10px;
    margin-top: 0;
    margin-bottom: 0;
}

.hot li{
    border-bottom: darkgray solid 1px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 20px;
    margin-left: -40px;
}

.hot li:last-child{
    border-bottom: none;
}

.bro-input{
    width: 180px;
    height: 28px;
    margin-top: 0;
    outline: none;
    border: none;
    border-right: darkgray solid 1px;
    border-bottom-left-radius: 6px;
}

.search-but{
    background-color: white;
    border: none;
    position: relative;
    top: 5px;
    width: 50px;
    border-bottom-right-radius: 6px;
    outline: none;
}

.bro-con{
    margin-left: 350px;
}

.select{
    padding: 20px 10px 0px 30px;
    border-bottom: darkgray solid 1px;
}

.select select{
    font-size: 13px;
    font-weight: bold;
    width: 200px;
    height: 35px;
    border-radius: 6px;
    background-color: whitesmoke;
    margin-right: 20px;
    outline: none;
}

.select select option{
    font-weight: bold;
    font-size: 13px
}

.select button{
    width: 200px;
}

.main-con{
    padding: 20px 20px 20px 55px;
}

.main-con table{
    border-spacing: 70px 20px;
}

.main-con table img{
    border-radius: 3px;
}

.main-con span{
    position: relative;
    bottom: 30px;
    left: 65px;
}



#img{
    display: block;
    border-radius: 6px;
    width: 25rem; height: 15rem;
    margin: 0 35% 20px 35%;
}

#file{
    display: block;
    margin: 0 auto;
    position: relative;
    left: 125px;
    font-size: 17px;
    z-index: 1;
    outline: none;
    color: white;
}

.upload-form p{
    position: relative;
    top: 10px;
}

.none {
    display: none;
}





